#paperclip-button-container {
    margin-bottom: 10px;
}

.media-left > .image > i {
    font-size: 45;
    padding: 10px;
    width: 100%;
    height: 100%;
    border: 1px solid grey;
    background-color: #f5f5f5;
    margin-bottom: 10px;
}

.media-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#entry-submit-form > .input-name {
    margin-bottom: 5px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#spinner-container {
    /*width: 1px;*/
    /*height: 5px;*/
    /*border: 1px solid black;*/
    /*margin-top: 10px;*/
}

#progress-bar {
    margin-top: 10px;
    display: none;
}

div.card.entry {
    margin: 5px;
}

div.card-image > figure > stream > div {
    height: unset !important;
}

#attach-media-button {
    width: 100%;
}

#attach-media-button span {
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
}

figure.media-left {
    max-width: 30%;
}

body { 
    background-image: url(https://media-api.xogrp.com/images/cca3b870-387c-4cd5-bc09-98f273bf84e0~rt_auto-rs_720.h?ordering=explicit);
}

section hero.is-primary.is-bold {

}

section .hero.is-medium.is-primary.is-bold {
    background-image: url('https://media-api.xogrp.com/images/5ae35e23-a259-46f2-9a5a-f280ea1c5bc8~rt_auto-rs_1024.h?ordering=explicit');
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: transparent;    
}