<html>
  <head>
    <link rel="stylesheet" href="/static/css/index.css">
  </head>





  <body>

    <h1>Guestbook</h1>

    <hr>


    <section class="content">
      <header>
        Welcome to Anton and Lauren's Wedding Guestbook!
      </header>
      <hr />
<!--       <pre>{{ entries }}</pre>
      <hr />
 -->
    <div class="entries">
      {% for entry in entries %}
        <div class="entry card">
          <div class="entry-name">
            <div class="entry-name-header">Name: <span class="entry-name-value">{{ entry.name }}</span></div>
          </div>
          <div class="entry-message">
            <div class="entry-message-header">Message: <span class="entry-message-value">{{ entry.message }}</span></div>
          </div>
          <div class="entry-image">
            <img src="{{ entry.url }}" />
          </div>
        </div>
      {% endfor %}
    </div>
      {% block content %}{% endblock %}
    </section>

    <script type="text/javascript" src="/static/js/index.js"></script>
  </body>
</html>
