<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/spin.css">
    <link rel="stylesheet" href="/static/css/index.css">

    <script src="https://kit.fontawesome.com/670b2b88b6.js" crossorigin="anonymous"></script>

  </head>





  <body>
    <section class="hero is-medium is-primary is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Welcome to Anton & Lauren's Guestbook!
          </h1>
          <h2 class="subtitle">
            You can leave us a message and send us a picture or video!
          </h2>
        </div>
      </div>
    </section>


    <section class="section">


    <article class="media">
      <figure class="media-left">
        <div id="spinner-container"></div>
        <p class="image is-64x64" id="paperclip-button-container">
          <i class="button fas fa-paperclip attach image" id="paperclip-button"></i>
        </p>
        <input type="file" id="file-input" name="file-input" class="inputfile" accept="image/*, video/*">
        <label for="file-input" class="button is-light" id="attach-media-button"><span>Attach Media</span></label>
        <div id="progress-bar">
          <progress max="100" value="0" id="current-value"></progress>
        </div>
      </figure>
      <div class="media-content">
        <div class="field">
          <p class="control">
            <form method="POST" id="entry-submit-form">
              <input class="input input-name" type="text" name="person-name" placeholder="Name">
              <textarea  name="message" class="textarea" placeholder="Write your message here..."></textarea>
              <input type="hidden" id="filename" name="filename">
              <input type="hidden" id="filetype" name="filetype">
              <input type="hidden" id="s3-object-key" name="s3-object-key">
              <input type="hidden" id="thumbnail-url" name="thumbnail-url">
              <input type="hidden" id="cloudflare-uid" name="cloudflare-uid">
            </form>
          </p>
        </div>
        <nav class="level">
          <div class="level-left">
            <div class="level-item">
              <button class="button is-info" id="entry-submit-button">Submit</button>
            </div>
          </div>
          <div class="level-right">
          </div>
        </nav>
      </div>
    </article>
  </section>

  <section class="section">
    <div class="entries container">
      <div class="tile is-ancestor is-vertical">
            
        {% for row in entries|reverse|batch(3) %}
          <div class="tile is-parent is-12">
            {% for entry in row %}
              <div class="tile is-child is-4">
                <div class="card entry">
                  {% if 'image/' in entry.filetype and entry.url %}
                    <div class="card-image">
                      <figure class="image is-4by3">
                        <a href="{{ entry.url }}"><img src="{{ entry.url }}" class="has-ratio" width="640" alt="Image from entry"/></a>
                      </figure>
                    </div>
                  {% endif %}
                  {% if entry.thumbnail_url and not entry.ready_to_stream %}
                    <div class="card-image">
                      <figure class="image">
                        <p class="title">Video is still processing! Come back in a few minutes to watch your upload</p>
                      </figure>
                    </div>
                  {% endif %}
                  {% if entry.thumbnail_url and entry.ready_to_stream %}
                    <div class="card-image">
                      <figure class="image is-4by3">
                        <stream src="{{ entry.cloudflare_uid }}" class="has-ratio" height="100%" preload controls></stream>
                      <script data-cfasync="false" defer type="text/javascript" src="https://embed.cloudflarestream.com/embed/r4xu.fla9.latest.js?video={{ entry.cloudflare_uid }}"></script>
                      </figure>
                    </div>
                  {% endif %}
                  {% if not ('image/' in entry.filetype) and not entry.url %}
                    <div class="card-image">
                      <figure class="image">
                        <img src="/static/media/placeholder.png" loading="lazy" alt="Placeholder image for message without other media" />
                      </figure>
                    </div>
                    {% endif %}
                  <div class="card-content">
                    <div class="media">
                      <div class="media-content">
                        <p class="title is-4">{{ entry.name }}</p>
                      </div>
                    </div>

                    <div class="content">
                      <blockquote>{{ entry.message }}</blockquote>
                      <br>
                      <!-- <pre> {{ entry }}</pre> -->
                      <time datetime="{{ entry.created_at.strftime('%m/%d/%Y') }}">Created on: {{ entry.created_at.strftime("%m/%d/%Y, %H:%M:%S") }}</time>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endfor %}
            
      </div>
    </div>  
  </section>

    <script type="text/javascript" src="/static/js/Stately.js"></script>
    <script type="text/javascript" src="/static/js/spin.js"></script>
    <script type="text/javascript" src="/static/js/index.js"></script>
  </body>
</html>
