<html>
  <head>
    <link rel="stylesheet" href="/static/css/index.css">
  </head>





  <body>

    <h1>Guestbook</h1>

    <hr>


    <section class="content">
      <header>
        Welcome to Anton and Lauren's Wedding Guestbook!
      </header>
      <hr />
<!--       <pre>{{ entries }}</pre>
      <hr />
 -->
    <div id="add-entry">
      <input type="file" id="file-input">
      <p id="status">Please add your own message and image/video!</p>

      <form method="POST" id="entry-submit-form">
        <input type="hidden" id="filename" name="filename">
        <input type="hidden" id="filetype" name="filetype">
        <input type="text" name="person-name" placeholder="name">
        <textarea name="message" placeholder="Write your message here"></textarea>
        <input type="submit" id="entry-submit-button" value="Submit">
    </form>
    <hr />
    </div>
    <div class="entries">
      {% for entry in entries %}
        <div class="entry card">
          <div class="entry-name">
            <div class="entry-name-header">Name: <span class="entry-name-value">{{ entry.name }}</span></div>
          </div>
          <div class="entry-message">
            <div class="entry-message-header">Message: <span class="entry-message-value">{{ entry.message }}</span></div>
          </div>
          {% if entry.url %}
          <div class="entry-image">
            <img src="{{ entry.url }}" />
            }
          </div>
          {% endif %}
          <pre>{{ entry }}</pre>
        </div>
      {% endfor %}
    </div>
    
    </section>

    <script type="text/javascript" src="/static/js/index.js"></script>
  </body>
</html>
