<html>
  <body>

    <h1>Guestbook</h1>

    <hr>


    <section class="content">
      <header>
        Welcome to Anton and Lauren's Wedding Guestbook!
      </header>
      <table>
      {% for entry in entries %}
        <tr class="entry">
          <td class="entry-name">{{ entry.name }}</td>
          <td class="entry-message">{{ entry.message }}</td>
        </tr>
      {% endfor %}
      {% block content %}{% endblock %}
    </section>


    <input type="file" id="file-input">
    <p id="status">Please select a file</p>
    <img style="border:1px solid gray;width:300px;" id="preview" src="/static/media/default.png">

    <h2>Your information</h2>

    <form method="POST" action="/submit-form/">
      <input type="hidden" id="avatar-url" name="avatar-url" value="/static/media/default.png">
      <input type="text" name="username" placeholder="Username"><br>
      <input type="text" name="full-name" placeholder="Full name"><br><br>

      <hr>
      <h2>Save changes</h2>

      <input type="submit" value="Update profile">
    </form>

    <script type="text/javascript" src="/static/js/index.js"></script>
  </body>
</html>
